<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
	</startup>

	<connectionStrings>
		<add name="connectionString_ADO"
         connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename='C:\Users\taran\OneDrive\Робочий стіл\Графічні інтерфейси\DPGI\Lab 4\Data\LR4.mdf';Integrated Security=True"/>
	</connectionStrings>
</configuration>